@import 'src/common/styles/sass/variables';

.header {
  height: 80px;
  //border: 1px solid white;
  background-color: $backgroundColor2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 1;
  @media screen and (max-width: 425px) {
    justify-content: center;
  }
}