@import "src/common/styles/sass/variables";

.workBlock {
  width: 510px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 15px 30px 15px;
  @media screen and (max-width: 1156px) {
    width: 450px;
  }
  @media screen and (max-width: 962px) {
    width: 330px;
  }
  @media screen and (max-width: 722px) {
    width: 510px;
  }

  .icon {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before { // псевдоэлемент
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4; // прозрачность
    }
  }

  .description {
    background-color: $backgroundColor2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 20px;

    .projectName {
      color: $textColor;
      font-size: 16px;
      letter-spacing: 1px;
      margin: 0 0 5px;
      font-weight: 700;
      line-height: 1.2;
      font-family: 'Josefin Sans', sans-serif;
    }

    .shortDescription {
      color: $textColor;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.8;
      font-family: "Poppins", sans-serif;
    }

    .link {
      visibility: visible;
      animation-name: fadeInUp;
      color: $primaryColor;
      text-decoration: none;
      font: 400 14px/1.8 'Poppins', sans-serif;

      &:hover {
        color: $textColor;
      }
    }
  }
}



