@import "src/common/styles/sass/variables";

.workBlock {
  background-color: #d9d8d8;
  width: 400px;
  display: flex;
  flex-direction: column;

  .icon {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before { // псевдоэлемент
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4; // прозрачность
    }

    .button {
      color: white;
      background-color: black;
      position: relative;
      z-index: 1;
    }
  }

  .description {
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .projectName {
      width: 200px;
      margin: 5px;
      background-color: #D9D9D9;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
    }

    .shortDescription {
      margin: 5px;
      background-color: #D9D9D9;
      font-family: 'Josefin Sans', sans-serif;
    }
  }
}



