@import 'src/common/styles/sass/variables';

.blockTitle {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;

  .title {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
    font-weight: 400;
    color: $textColor;
    text-transform: capitalize;
    font-size: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    background: #4e93e6;
    width: 55px;
    height: 1px;
    bottom: 0px;
  }
}



