.worksBlock {
    min-height: 100vh;
    background-color: #F1E2FF;
}
.worksContainer {
    border: 1px solid darkred;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.title {
    display: flex;
    justify-content: center;
    background-color: darkgrey;
}
.works {
    width: 100%;
    border: 1px solid darkred;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    box-sizing: border-box;
}