.skillsBlock {
    min-height: 100vh;
    background-color: #DDFEE9;
}
.skillsContainer {
    border: 1px solid black;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    background-color: #d9d8d8;
}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    box-sizing: border-box;
}