@import 'src/common/styles/sass/variables';

.skillsBlock {
  min-height: 100vh;
  background-color: $backgroundColor2;

  .skillsContainer {
    border: 1px solid white;
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .skillsSecondBlock {
      display: flex;
      flex-direction: column;
      width: 100%;

      .skills {
        border: 1px white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        box-sizing: border-box;
        margin-top: 12px;
      }
    }
  }
}
