.mainBlock {
    height: 100vh;
    background-color: rgba(137,65,127,0.66);
}

.text {
    width: 400px; /*300px*/
    background-color: #d9d8d8;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: #d9d8d8;
}