@import "src/common/styles/sass/variables";

.mainBlock {
  height: 100vh;
  background-color: $backgroundColor1;


  .particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: 0;
  }

  .container {
    //border: 1px solid white;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 1208px) {
      flex-direction: column;
      justify-content: space-evenly;
    }

    .text {
      max-width: 550px;
      color: $textColor;
      //border: 1px solid white;

      .firstString {
        line-height: 1.8;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
      }

      .myName {
        font-size: 50px;
        padding: 10px 0 10px;
        font-family: "Josefin Sans", sans-serif;
        letter-spacing: 5px;
        margin: 0;
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 425px) {
          font-size: 35px;
        }

        .spanName {
          position: relative;
          max-width: 514px;
          z-index: 1;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 20px;
            width: 100%;
            z-index: -1;
            background: #4e93e6;
            @media screen and (max-width: 644px) {
              width: 330px;
            }
            @media screen and (max-width: 425px) {
              width: 248px;
            }
          }
        }
      }

      .secondString {
        font-size: 27px;
        margin: 0;
        font-weight: 400;
        line-height: 1.8;
        font-family: "Poppins", sans-serif;
        @media screen and (max-width: 425px) {
          font-size: 20px;
        }
      }
    }

    .photoBlock {
      transform: translate3d(0px, 0px, 0px) rotate(
                      0.0001deg
      );
      transform-style: preserve-3d;
      backface-visibility: hidden;
      pointer-events: none;
      position: relative;
      display: table;
      margin-right: 50px;
      @media screen and (max-width: 1208px) {
        margin-right: 20px;
      }

      .photo {
        width: 344px;
        height: 430px;
        background-color: #d9d8d8;
        background-size: cover;
        background-position: center;
        @media screen and (max-width: 644px) {
          width: 275px;
          height: 343px;
        }
        @media screen and (max-width: 425px) {
          /*width: 240px;
          height: 300px;*/
          width: 220px;
          height: 270px;
        }
      }

      .frame {
        transform-style: preserve-3d;
        backface-visibility: hidden;
        position: absolute;
        display: block;
        left: 0px;
        top: 0px;
        bottom: 0;
        z-index: -9;
        height: 110%;
        width: 103%;
        border: 5px solid #4e93e6;
        right: 0;
        margin-left: 8%;
        margin-top: -8%;
      }
    }
  }
}




